@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?7aary9');
  src:  url('icomoon.eot?7aary9#iefix') format('embedded-opentype'),
    url('icomoon.ttf?7aary9') format('truetype'),
    url('icomoon.woff?7aary9') format('woff'),
    url('icomoon.svg?7aary9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email2:before {
  content: "\e926";
  color: #fffefe;
}
.icon-telegram:before {
  content: "\e925";
  color: #fff;
}
.icon-lang:before {
  content: "\e924";
  color: #fff;
}
.icon-price:before {
  content: "\e905";
  color: #ff7016;
}
.icon-catalog:before {
  content: "\e909";
}
.icon-minus:before {
  content: "\e916";
  color: #9d9d9d;
}
.icon-sertificat:before {
  content: "\e917";
  color: #fff;
}
.icon-garant:before {
  content: "\e918";
  color: #fff;
}
.icon-setting:before {
  content: "\e919";
  color: #fff;
}
.icon-Vector-5:before {
  content: "\e91a";
  color: #9d0000;
}
.icon-Vector-6:before {
  content: "\e91b";
  color: #8dc34c;
}
.icon-social:before {
  content: "\e91c";
  color: #9d9d9d;
}
.icon-maps:before {
  content: "\e91d";
  color: #9d9d9d;
}
.icon-phone:before {
  content: "\e91e";
  color: #9d9d9d;
}
.icon-email:before {
  content: "\e91f";
  color: #9d9d9d;
}
.icon-mdi_swap_vert .path1:before {
  content: "\e920";
  color: rgb(49, 47, 68);
}
.icon-mdi_swap_vert .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(157, 157, 157);
}
.icon-catalog2:before {
  content: "\e922";
}
.icon-Vector-13:before {
  content: "\e923";
  color: #9d9d9d;
}
.icon-facebook:before {
  content: "\e903";
}
.icon-active:before {
  content: "\e904";
}
.icon-bottom:before {
  content: "\e900";
  color: #fff;
}
.icon-finder_Download:before {
  content: "\e901";
  color: #fff;
}
.icon-finder_discounts:before {
  content: "\e906";
}
.icon-finder_Guarantee:before {
  content: "\e907";
}
.icon-finder_tools:before {
  content: "\e908";
}
.icon-insta:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e902";
  color: #fff;
}
.icon-photo_camera:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
  color: #fff;
}
.icon-Phone .path1:before {
  content: "\e90d";
  color: rgb(255, 255, 255);
  opacity: 0.3;
}
.icon-Phone .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(141, 195, 76);
}
.icon-Phone .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Phone .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Phone .path5:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-plus:before {
  content: "\e912";
}
.icon-basket:before {
  content: "\e913";
  color: #fff;
}
.icon-Vector-21:before {
  content: "\e914";
}
.icon-youtube:before {
  content: "\e915";
}
