@import "../vars/variables";
@import "../vars/functions";

.content {
  width: 100%;
  transition: transform .5s ease-in-out;
  z-index: 0;
}

.container-fluid {
  padding: 0 rem(10);
}

.slide_img {
  height: 100vh;
  width: 100%;
  clip-path: polygon(100% 0, 100% 80%, 50% 95%, 0 80%, 0 0);

  img {
    width: 100%;
    height: 100%;
  }
}

.content_top_carousel {
  position: relative;
  z-index: 5;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/IMG_4235-min.png");
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0, 100% 79%, 50% 94%, 0 79%, 0 0);
  }
}

.content_top_swip_info {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $white;
  z-index: 99;

  &_text {
    padding-bottom: rem(45);

    h2 {
      font-style: normal;
      font-weight: normal;
      font-size: rem(34);
      text-transform: uppercase;
    }
  }
}

.content_top_swip_animation {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

.swiper-slide {
  width: 100% !important;
}

.content_info {
  background-color: $gray-second;

  &_top {
    position: relative;
    width: 100%;
    height: 100%;

    &_img {
      position: absolute;
      margin-top: -16%;
      min-height: rem(950);
      width: 100%;
      height: 100%;
      z-index: 1;
      clip-path: polygon(100% 0, 100% 65%, 50% 80%, 0 65%, 0 0);

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #f2f2f2;
        opacity: 0.8;
        clip-path: polygon(32% 0, 75% 72.5%, 100% 30%, 100% 100%, 0 100%, 0 0);
      }

      img {
        height: 100%;
        width: 100%;
      }
    }

    &_text {
      position: relative;
      z-index: 5;
      top: 0;
      left: 0;
      padding-right: rem(20);
      display: flex;
      align-items: center;
      height: 100%;

      p {
        font-size: rem(14);
        font-weight: bold;
        margin-top: rem(20);
      }
    }
  }

  &_bottom {
    position: relative;
    padding-top: 13%;

    &_img {
      position: absolute;
      width: 50%;
      top: 0;
      right: 0;

      img {
        width: 100%;
      }
    }

    &_text {
      width: 100%;

      h3 {
        font-size: rem(25);
        font-weight: bolder;
        text-transform: uppercase;
      }

      span {
        font-size: rem(200);
        color: rgb(0, 130, 205);
        line-height: 1;
      }

      p {
        font-size: rem(18);
        font-weight: bold;
        margin-bottom: rem(20);
      }
    }
  }
}

.content_catalog {
  padding: rem(10) 0 rem(25);

  &_header {
    display: flex;
    justify-content: center;

    h2 {
      font-size: rem(33);
      font-weight: normal;
      font-stretch: normal;
      color: $blue;
      text-transform: uppercase;
      border-top: rem(3) solid $blue;
      margin-bottom: rem(35);
    }
  }

  &_top {
    display: flex;

    &_url {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;

      &:hover{
        .content_catalog_info{
          display: flex;
        }
      }

      img {
        width: 100%;
      }
    }
  }

  &_info {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 130, 205, 0.8);
    align-items: center;
    justify-content: center;
    padding: rem(40);
    text-align: center;

    p {
      font-size: rem(18);
      font-weight: normal;
      color: $white;
      text-transform: uppercase;
    }
  }
}

.content_center_carousel {
  padding: rem(20) 0 rem(35);
  background-color: $gray-second;

  &-slide {
    display: flex;
    justify-content: center;
  }
}

.our_clients {
  padding: rem(30) 0;

  &_header {
    display: flex;
    justify-content: center;

    h2 {
      font-size: rem(33);
      font-weight: normal;
      font-stretch: normal;
      color: $blue;
      text-transform: uppercase;
      border-top: rem(3) solid $blue;
      margin-bottom: rem(25);
    }
  }

  &_content {
    &_url {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }
}

.content_tab {
}

.content_center_carousel {
  .eq-wrap {
    width: 100%;

    .swiper-tab-img {
      display: flex;

      img {
        width: auto;
        margin: auto;
      }
    }
  }

  .swiper-button-next, .swiper-button-prev {
    &:after {
      content: none;
    }

    span {
      font-size: rem(60);
      color: $purple;
    }
  }

  .swiper-button-next, .swiper-button-prev {
    width: 2.5rem;
    background-color: $white;
  }

  .swiper-button-next {
    right: rem(5);
  }

  .swiper-button-prev {
    left: rem(5);
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 15%;
  z-index: 5;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 rem(7);
}

.swiper-pagination-bullet {
  width: rem(15);
  height: rem(15);
  background-color: $white;
  opacity: 1;
  padding: 0 rem(5);
}

.swiper-pagination-bullet-active {
  background-color: $blue;
}

.content_top_block-orange {
  position: absolute;
  top: 0;
  left: rem(-276);
  width: 100%;
  max-width: rem(1079);
  height: 100vh;
  background-color: $orange;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.fon-blue {
  background-color: $blue;
  width: 100%;
  height: 100%;
  top: 0;
  clip-path: polygon(100% 0, 100% 75%, 50% 90%, 0 75%, 0 0);
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .img {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 60vh;

    img {
      width: 100%;
      height: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #f2f2f2;
      opacity: 0.8;
      clip-path: polygon(32% 0, 75% 55%, 100% 25%, 100% 100%, 0 100%, 0 0);
    }
  }

  //.orange {
  //  position: absolute;
  //  top: 0;
  //  left: rem(-276);
  //  width: 100%;
  //  max-width: rem(1079);
  //  height: 100vh;
  //  background-color: $orange;
  //  clip-path: polygon(50% 100%, 0 0, 100% 0);
  //  z-index: 99;
  //}
}
