@import "./vars/variables";
@import "./vars/functions";

@for $i from 1 through 60 {
  @media(min-width: 2000px + ($i * 100)) {
    html {
      font-size: 16px + $i !important;
    }
  }
}
@for $i from 1 through 4 {
  @media(max-width: 1280px - ($i * 150)) {
    html {
      font-size: 16px - $i !important;
    }
  }
}
@for $i from 1 through 6 {
  @media(max-width: 1440px - ($i * 50)) {
    .product_gal{
      img {
        max-width: 25rem - $i;
      }
    }
  }
}

@for $i from 1 through 7 {
  @media(max-width: 1900px - ($i * 80)) {
    .content_info_top_img{
      margin-top: -16% - $i;
    }
  }
}

@for $i from 1 through 20 {
  @media(max-width: 1320px - ($i * 60)) {
    .content_info_top_img{
      margin-top: -24% - $i;
    }
  }
}

@for $i from 1 through 5 {
  @media(max-width: 600px - ($i * 50)) {
    .content_top_block-orange {
      left: -27% - $i;
    }
  }
}

@media (min-width: 1600px) {
  .content_bottom_left_news_img{
    width: 0;
  }
}
@media (min-width: 1550px) {
  .content_bottom_right_recipes_img{
    float: none;
    img{
      width: 80%;
    }
  }
}
@media (min-width: 1200px) {

}
@media (min-width: 768px) {
  .modal-dialog-centered{
    min-height: calc(100vh - 3.5rem);
  }
}


@media (max-width: 1440px) {

}

@media (max-width: 1280px) {
  .content_guarantee_top_img:before,
  .content_guarantee_top_img-center:after{
    background-size: contain;
    width: rem(270);
  }
  .content_guarantee_top_img-left:before{
    top: 65%;
    width: rem(220);
  }
  .content_guarantee_top_img-rigth:before{
    width: rem(320);
    top: 30%;
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 1175px) {
  .content_bottom_right_recipes_img{
  	max-width: rem(270);
  	width: 100%;
  }
}

@media (max-width: 1080px) {
  .modal_product_dialog_content_header .close{
    display: block;
  }
  .send-message_form_dialog_content_header .close{
    display: block;
  }
  .modal-backdrop.show:before{
    content: none;
  }
}

@media (max-width: 1024px) {
  .content_info {
    &_bottom, &_top {
      &_text {
        padding: rem(20);
      }
    }
  }
  .content_bottom_left_news_img{
    max-width: rem(200);
  }
  .header_fixed_menu-contacts{
    display: none;
  }
  .menu_form-contacts{
    display: block;
  }
  .content_bottom_left, .content_bottom_right{
    width: 100%;
  }
  .content_guarantee_top_img:before,
  .content_guarantee_top_img-center:after {
    display: none;
  }
  .content_product, .content_basket{
    padding-top: rem(105);
  }
}

@media (max-width: 991px) {
  .content_view_img{
    .row{
      justify-content: center;
    }
  }
  .product_gal{
    img {
      max-width: rem(430);
    }
  }
  .product_gal_vertical{
    .swiper-slide{
      margin: auto;
      img {
        max-width: rem(85);
        margin: auto;
        display: block;
      }
    }
  }
}

@media (max-width: 830px) {
  .send_message_btn .message_wibro_fire:after{
    top: rem(8);
    left: rem(10);
    width: rem(12);
    height: rem(16);
  }
  .content_basket_cart_content_quan {
    .plus, .minus {
      top: rem(5);
    }
  }
  .content_product, .content_basket{
    padding-top: rem(120);
  }
  .product_gal_vertical{
    .swiper-slide{
      img {
        max-width: rem(95);
      }
    }
  }
}

@media (max-width: 767px) {
  .swiper-tab-img{
    height: 100%;
    img{
      height: 100%;
    }
  }
  .equipment .equipment-item .equipment-img,
  .content_product_other_slide .equipment-item .equipment-img{
    height: rem(400);
  }
  .product_gal_vertical{
    .swiper-slide{
      img {
        max-width: rem(105);
      }
    }
  }
  .content_product, .content_basket{
    padding-top: rem(115);
  }
  .content_top_swip_animation{
    top: 85%;
    transform: translate(-50%,-85%);
  }
  .content_top_swip_info{
    h1{
      font-size: rem(30);
    }
    h2{
      font-size: rem(20);
    }
  }
  .content_guarantee_top_img-left{
    max-width: 100%;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .content_top_block-orange {
    max-height: rem(400);
  }
  .slide_img{
    height: rem(370);
  }
  .content_product, .content_basket{
    padding-top: rem(100);
  }
  .content_view_price_quan .minus, .content_view_price_quan .plus{
    top: rem(5);
  }
  .content_navigation_product_nav{
    padding-left: rem(20);
  }
  .content_navigation_pages_navbar-nav .nav-item .nav-link{
    padding: rem(5);
  }
  .content_navigation_pages_navbar-nav .nav-item span{
    transform: rotate(-180deg) scale(0.7);
  }
}

@media (max-width: 575px){
  .content_top_carousel {
    background-color: $gray-second;
  }
  .content_info_top_img{
    display: none;
  }
  .equipment .equipment-item .equipment-img,
  .content_product_other_slide .equipment-item .equipment-img{
    height: rem(350);
  }
  .eq-wrap{
    left: 50%;
    transform: translateX(-50%);
  }
  .content_tab_navbar_nav-link{
    font-size: rem(20);
  }
  .content_basket_cart_footer_btn .btn{
    margin-right: auto;
  }
  .content_basket_cart_content_close{
    position: absolute;
    right: rem(80);
    top: rem(-55);
    width: 100%;
    .btn-close{
      width: rem(20);
      margin-right: 0;
    }
  }
  .content_basket_cart_content_quan{
    max-width: rem(150);
    margin: rem(20) auto;
    .minus {
      right: rem(10);
    }
  }
  .content_basket_cart_content_block{
    margin: auto;
    max-width: rem(400);
  }
  .content_basket_cart_header{
    display: none;
  }
  .content_view_wrap{
    &_price{
      max-width: 100%;
      h4{
        font-size: rem(18);
      }
      p{
        font-size: rem(16);
      }
      h2{
        font-size: rem(30);
      }
      h3{
        font-size: rem(24);
      }
      .btn{
        display: block;
        margin: auto;
      }
    }
    p{
      font-size: rem(15);
    }
  }
  .content_view_price_quan{
    max-width: rem(200);
    width: 100%;
    margin: auto;
  }
  .content_view_guarant{
    p{
      font-size: rem(18);
      max-width: rem(300);
      width: 100%;
      margin: 0 auto rem(15);
    }
  }
}
@media (max-width: 515px) {
  .content_basket_cart_content_close {
    right: rem(50);
  }
}
@media (max-width: 500px){
  .header_fixed_menu{
    &-other-text{
      display: none;
    }
  }
  .content_tab_navbar_nav-link{
    font-size: rem(15);
  }
}
@media (max-width: 460px) {
  .equipment .equipment-item .equipment-img{
    height: rem(250);
  }
  .content_basket_cart_content_close{
    right: rem(30);
  }
  .header_fixed_menu{
    p{
      display: none;
    }
  }
  .content_product{
    padding-top: rem(80);
  }
  .content_product{
    .container-fluid{
      padding: 0 rem(15);
    }
  }
}
@media (max-width: 435px){
  .content_basket_cart_content_close{
    right: rem(20);
  }
  .header_fixed_menu-other span{
    font-size: rem(30);
  }
}
@media (max-width: 425px) {
  .slider__products, .slider__products-second, .slider__products-third{
    .swiper-button-next, .swiper-button-prev{
      background-color: transparent;
    }
  }
  .content_tab_hidden{
    display: none;
  }
  .content_tab_navbar_nav-link{
    font-size: rem(13);
  }
  .content_navigation_pages_navbar{
    display: none;
  }
  .content_navigation_product{
    width: 100%;
    overflow-x: scroll;
  }
  .content_navigation_product_nav{
    min-width: rem(600);
    width: 100%;
    padding: 0;
    flex-wrap: nowrap;
  }
  .container-fluid{
    padding: 0 rem(10);
  }
  .content_top_swip_info{
    h1{
      font-size: rem(20);
      line-height: rem(30);
    }
    h2{
      font-size: rem(18);
      margin-bottom: rem(10);
      line-height: rem(30);
    }
  }
  .content_tab_navbar_nav-link{
    font-size: rem(18);
  }
  .content_bottom{
    display: block;
    &_left, &_right{
      width: 100%;
      h2{
        text-align: center;
      }
    }
  }
  .content_bottom_left_news{
    max-height: rem(250);
  }
  .content_bottom_right .swiper-pagination{
    left: 50%;
    transform: translateX(-50%);
  }
  .content_bottom_right_recipes_info{
    padding-bottom: rem(100);
  }
}

@media (max-width: 375px) {
  .equipment .equipment-item .eq-wrap{
    width: 50%;
  }
  .eq-wrap{
    width: 100%;
  }
	.header_fixed_menu-other span{
		font-size: rem(22);
	}
  .content_tab_navbar_nav-link{
    font-size: rem(13);
  }
  .content_basket_cart_content_text{
    max-width: rem(300);
  }
  .content_product{
    padding-top: rem(100);
  }
  .product_gal{
    img {
      max-width: rem(380);
    }
  }
}

@media (max-width: 320px) {

}
