@import "../vars/variables";
@import "../vars/functions";

.footer{
  background-color: $blue;
  padding: rem(40) rem(5) rem(25);
  margin-top: rem(-25);
  clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0 15%);
  transition: transform .5s ease-in-out;
  &_content{
    padding-left: rem(5);
    &_center{
      text-align: center;
      display: flex;
      justify-content: center;
      padding-top: rem(10);
      height: 100%;
      p{
        font-size: rem(14);
        font-weight: normal;
        color: $white;
      }
    }
    p{
      font-size: rem(14);
      font-weight: normal;
      color: $white;
    }
    &_social{
      text-align: center;
      display: flex;
      justify-content: flex-end;
      height: 100%;
      a{
        padding: 0 rem(5);
      }
    }
  }
}
.hidden-menu{
  position: fixed;
  right: 0;
  top: 0;
  max-width: rem(320);
  width: 100%;
  height: 100%;
  background-color: $white;
  transform: translateX(rem(320));
  transition: transform .5s ease-in-out;
  z-index: 100;
}


.shown-menu {
  transform: translateX(rem(-320));
  transition: transform .5s ease-in-out;
}

.shown-right {
  transform: translateX(0);
  transition: transform .5s ease-in-out;
}

.hidden-right {
  right: rem(-320);
  transition: transform .7s ease-in-out;
}
.menu {

  &_btn {
    border: none;
    background: transparent;
    color: $red;
    font-size: rem(24);
    float: right;
    padding: rem(5) rem(10);
  }

  &_navbar {
    padding: rem(40) rem(20);
    max-height: calc(100vh - 7.5rem);
    overflow-y: scroll;

    &_nav-link {
      font-style: normal;
      font-weight: normal;
      font-size: rem(18);
      line-height: rem(25);
      color: $purple;
      border: none;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }

    &_collapse {
      &_item {
        font-style: normal;
        font-weight: normal;
        font-size: rem(14);
        line-height: rem(30);
        color: $purple;
        padding: 0;
      }
    }
  }

}
